/* Estilo do cabeçalho */
header {
    background-color: #333;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s;
}

/* Hover */
nav ul li a:hover {
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}


.mengo {
width: 50%;
padding-top: 3%; /* Mantém a proporção 16:9 */
position: relative;
}



.news-container {
    display: flex;
    justify-content: space-around;
    margin: 50px auto;
    width: 90%;
}

.news-item {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 25%;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
    margin-top: 30px;
}

.news-item img {
    width: 100%;
    border-radius: 10px;
}

h3 {
    color: #333;
    margin: 15px 0;
}


p {
    color: #666;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



/* Estilo do Container dos Ícones */
.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

/* Estilo dos Links */
.icon-link {
    color: #00274d; /* Cor inicial do ícone */
    text-decoration: none; /* Remove o sublinhado do link */
    transition: color 0.3s ease; /* Transição suave na mudança de cor */
}

.icon-link:hover {
    color: #1e90ff; /* Cor do ícone ao passar o mouse */
}

/* Estilo dos Ícones */
.icon-link i {
    font-size: 30px; /* Tamanho do ícone */
}

.box-cookies.hide {
    display: none !important;
}

.box-cookies {
    position: fixed;
    background: rgba(24, 23, 23, 0.795);
    width: 90%;
    z-index: 998;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: #070707 5px 5px 5px;
}

.box-cookies .msg-cookies,
.box-cookies .btn-cookies {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    color: #f3f0f0;
    font-size: 18px;
    font-weight: 600;
}

.box-cookies .btn-cookies {
    background: #0c0c0c;
    cursor: pointer;
    align-self: normal;
    border-radius: 5px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .box-cookies {
        flex-direction: column;
    }
}